# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build artifacts & packages
*.zip
*.tar.gz
/node_modules/
/vendor/

# Local configuration
.env
.phpunit.result.cache
